* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}


body {
    background-color: rgb(255, 255, 255);
}


table {
    border-radius: 2%;
}

.animacao {
    animation-duration: 3s;
    animation-name: slidein ;
    color: rgb(186, 104, 200);
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        color: rgb(0, 0, 0);
    }

    to {
        margin-left: 0%;
        width: 100%;
        color: rgb(186, 104, 200);
    }
}

.float-button {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}


.toast-position {
    position: fixed;
    right: 40px;
    top: 20px;
}

#deslogar {
    position: relative;
    left: 20%;
}