* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: rgb(234, 209, 238);

}


table {
    position: relative;
    border-radius: 41px;
    text-align: center;
    top: 80px;
}


.float-button {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: black;
    border: none;
}

.float-button:hover {
    background-color: rgb(186, 104, 200);
}